.tableWrapper {
    padding: 16px;
}

.table {
    min-width: 1000px;
}

.cellStatus {
    font-weight: bold;
}

.cellSwitch {
    text-align: center;
}

.clickable {
    cursor: pointer;
    color: #1976d2;
    text-decoration: underline;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 16px 24px;
}