.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main {
    flex-grow: 1;
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content {
    padding: 24px;
}

.statsCard {
    padding: 16px;
}

.mapCard {
    height: 400px;
}