.layout {
    display: flex;
    height: 100vh;
}

.mainContent {
    flex-grow: 1;
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.editButtonBox {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fieldBox {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.table {
    margin-top: 10px;
    min-width: 800px;
}